<!DOCTYPE html>
<html xmlns:th = "http://thymeleaf.org">
	<head>
		<title> You will be glad, You make the payment!</title>
	</head>
	<body>
		<h1> Your service has been booked successfully.</h1> 
		
		<h3> Do you want to schedule an hangout with the star? </h3>

		
		<form action = "" method = "post">
			<button> Book Artist Free time </button>
		</form>
		
		<h3>Subscribe to the fan base Camp</h3>
		<p> By joining monthly plan you will get services at 50% the price!</p>
		<p>You will be billed automatically every month at the rate of $200 (instead of $400)</p>
		
		<form th:action = "@{/subscribe?email={em}(em=${email})}" method="post">
      		<button>Subscribe Now</button>
    	</form>
		
	</body>
</html>